<!-- {% extends "index.html" %}
{% block title %}
Title - Jungler Test
{% endblock %} -->

<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/dist/output.css" rel="stylesheet">

        <h1 class="text-3xl font-bold underline">

        </h1>
    </head>
    <body>
        <!-- {% block content %}  -->
        <div class="wrap">
            <h1 class="text-3xl font-bold underline">

            </h1>
        </div>
        
        <div class="bot-wrap">
            <h1 class="text-3xl font-bold underline">

            </h1>
        </div>
        <!-- {% endblock %} -->
    </body>
</html>


