
{% extends "index.html" %}

{% block table %}
  <div id="timeTable" class="relative">
     <div class="timeTable text-center w-9/12 font-bold text-2xl">
      <div class="timeColumn">시간</div>
      {% for i in range(6,24) %} {%if nowtime.hour == i%}
      <div class="timeColumn text-red-500">{{i}}시</div>
      {% else %}
      <div class="timeColumn">{{i}}시</div>
      {% endif %} {% endfor %}
      <div class="labelColumn1">오늘</div>
      <div class="timeWrapper" id="today">
        {% for time in range(6,24)%}
        {% if time < nowtime['hour'] %}
          <div class="blockWrapper" id="today-{{time}}">
            {% for type in ['laundry','dry']%}
              {% for room in ['325', '326']%}
                {%for reserve in todayReservations %}
                  {% if reserve['time'] ==  time %}
                    {% if reserve['type'] == 'laundry' %}
                      {% if reserve['room'] == '325' %}
                        <div class="bg-gray-300 row-start-1 col-start-1"></div>
                      {% else %}
                        <div class="bg-gray-300 row-start-1 col-start-2"></div>
                      {% endif%}
                    {% else %}
                      {% if reserve['room'] == '325' %}
                        <div class="bg-gray-300 row-start-2 col-start-1"></div>
                      {% else %}
                        <div class="bg-gray-300 row-start-2 col-start-2"></div>
                      {% endif%}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </div>
        {% else %}
        <div class="blockWrapper cursor-pointer" onclick="pick({{time}},'today', {{todayReservations}}, '{{userId}}')" id="today-{{time}}">
          {% for reserve in todayReservations %}
            {% if reserve['time'] ==  time %}
              {% if reserve['type'] == 'laundry' %}
                {% if reserve['room'] == '325' %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-1 leading-6 col-start-1 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-1 col-start-1"></div>
                  {% endif%}
                {% else %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-1 leading-6 col-start-2 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-1 col-start-2"></div>
                  {% endif%}
                {% endif%}
              {% else %}
                {% if reserve['room'] == '325' %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-2 leading-6 col-start-1  text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-2 col-start-1"></div>
                  {% endif%}
                {% else %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-2 leading-6 col-start-2 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-2 col-start-2"></div>
                  {% endif%}
                {% endif%}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="labelColumn2">내일</div>
      <div class="timeWrapper" id="tomorrow">
        {% for time in range(6,24)%}
        <div class="blockWrapper cursor-pointer"  onclick="pick({{time}},'tomorrow', {{tomorrowReservations}}, '{{userId}}')" id="tomorrow-{{time}}">
          {% for type in ['laundry','dry']%}
            {% for room in ['325', '326']%}
              {%for reserve in tomorrowReservations %}
              {% if reserve['time'] ==  time %}
              {% if reserve['type'] == 'laundry' %}
                {% if reserve['room'] == '325' %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-1 leading-6 col-start-1 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-1 col-start-1"></div>
                  {% endif%}
                {% else %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-1 leading-6 col-start-2 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-1 col-start-2"></div>
                  {% endif%}
                {% endif%}
              {% else %}
                {% if reserve['room'] == '325' %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-2 leading-6 col-start-1 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-2 col-start-1"></div>
                  {% endif%}
                {% else %}
                  {% if reserve['user'] == userId%}
                    <div class="bg-green-500 row-start-2 leading-6 col-start-2 text-white text-lg font-bold break-keep">내 예약</div>
                  {% else %}
                    <div class="bg-yellow-300 row-start-2 col-start-2"></div>
                  {% endif%}
                {% endif%}
              {% endif %}
            {% endif %}
              {%endfor%}
              <div class="bg-white cursor-pointer"></div>
            {% endfor %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="text-red-500 font-bold text-3xl col-start-2 col-end-10 text-left py-2">
        현재 시각 : {{nowtime.hour}}시 {{nowtime.minute}}분
      </div>
    </div>
{% endblock %}
